{% extends 'base.html' %}
{%block title%}Admin|User{% endblock %}
{% load pagination_tags %}
{% load humanize %}
{% load i18n %}
{% block content %}
<section id="users-view">
    <h1 class="h3 mb-4 fw-bold">{% trans "User Salary Dashboard" %}</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="w-100 w-md-50">           
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <label for="month">{% trans "Month" %}:</label>
                                    <select name="month" id="month" class="form-control">
                                        {% for m in months %}
                                        <option value="{{ m }}" {% if m == selected_month %}selected{% endif %}>{{ m }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <label for="year">{% trans "Year" %}:</label>
                                    <select name="year" id="year" class="form-control">
                                        {% for y in years %}
                                        <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <br>
                                    <button class="btn btn-success form-control w-25" type="submit">{% trans "Filter" %}</button>
                                </div>
                            </div>
                    </form>
                </div> 
        </div>
    </div>
    <div class="card mb-5">
        <div class="card-header bg-white fw-bold">
            {% trans "Total Salary" %}: <span class="font-semibold">{{ total_salary|floatformat:2|intcomma }} {% trans "MMK" %}</span>
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead>
                    <tr class="bg-gray-200 text-left">
                        <th class="p-2">{% trans "Date" %}</th>
                        <th class="p-2">{% trans "Leave" %}</th>
                        <th class="p-2">{% trans "Salary" %}</th>
                        <th class="p-2">{% trans "Pay state" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr class="border-t">
                        <td class="p-2">{{ log.date }}</td>
                        <td class="p-2">{% if log.is_leave %}<span class="badge bg-danger">{% trans "Leave" %}</span>{% else %}<span class="badge bg-warning">{% trans "Attented" %}</span>{% endif %}</td>
                        <td class="p-2">{{log.salary.amount|floatformat:2|intcomma}} {% trans "MMK" %}</td>
                        <td class="p-2">{% if log.paystatus %}<span class="badge bg-success">{% trans "Paid" %}</span>{% else %}<a href="{% url 'website:add_worklog' log.id %}" class="btn btn-primary">{% trans "Payment" %}</a>{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="p-4 text-center text-gray-500">{% trans "No work logs yet." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            {% if logs%}
            <div class="card-footer bg-white text-end">
                {% render_pagination logs %}
            </div>
            {% endif %}
            <div class="card-footer d-flex justify-content-end">
                <a href="{% url 'website:user-view' %}" class="btn btn-secondary me-2">
                    <i class="bi bi-arrow-counterclockwise me-1"></i> {% trans "Back" %}
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}